.aboutus-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 28%;
}

.aboutus-list {
    display: flex;
    gap: 0 25px;
}

.aboutus-list__link {
    color: #000000;
    text-decoration: none;
    height: 39px;
    border: none;
    background: #FFF;
    padding: 10px;
    font-size: 10px;
    position: relative;
    display: block;
    box-sizing: border-box;
    transition: all 582;
}

.aboutus-list__link_celected {
    color: #000000;
    text-decoration: none;
    height: 39px;
    border: none;
    background: #FFF;
    padding: 10px;
    font-size: 10px;
    position: relative;
    display: block;
    box-sizing: border-box;
    transition: all 582;
}

.aboutus-list__link :hover {
    width: 100%;
    color: #FFF;
    background: #EF7F04;
    height: 35px;
    border-radius: 3px;
}

.aboutus-infro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 461px;
}

.aboutus-infro__logo {
    width: 198px;
    height: 139.5px;
    margin: 50px 0 0 50px;
}

.aboutus-infro__block {
    display: flex;
    width: 50%;
    height: 461px;
}

.aboutus-infro__text {
    padding: 10% 0 20% 0;
    font-weight: 100;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.aboutus-achieves {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 430px;
}

.aboutus-achieves__block {
    padding: 35px;
    width: 33%;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    align-items: flex-start;
    font-weight: 400;
}

.aboutus-achieves__title {
    color: #2F2F51;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 36px;
    font-weight: 700;
}

.aboutus-achieves__text {
    width: 202px;
    height: 114px;
}

.aboutus-achieves__button {
    width: 312px;
    justify-content: center;
    text-align: center;
    height: 5% auto;
}

.aboutus-achieves__button-orange {
    gap: 0 9px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #EF7F04;
    border-color: #EF7F04;
}