* {
    box-sizing: content-box;
}

.container {
    width: 1200;
    margin: 0 auto;
}

.title {
    font-family: 'Gill Sans', sans-serif;
    font-size: 24px;
    color: #2f2f2f51;
    text-align: center;
    margin: 45px 0;
    min-height: 700;
}