.header-wrapper {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
}
.header-list {
    display: flex;
    gap: 0 25px;
}

.header-list_link {
    color: #000000;
    text-decoration: none;
}

.header-list_link_celected {
    color: #EF7F04;
    text-decoration: none;
}

.header-list_link :hover {
    width: 100%;
    color: #EF7F04;
    height: 35px;
    border-radius: 3px;
}

.btn {
    display: flex;
    gap: 0 14px;
}

.btn-item {
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 10px 19px 10px 14px;
    font-size: 15px;
    color: #FFFFFf;
}

.btn-item__orange {
    background-color: #EF7F04;
    border-color: #EF7F04;
    padding: 0 auto;
}

.btn-item__blue {
    background-color: #3B3A63;
    border-color: #3B3A63 ;
}

.img {
    margin-right: 12px;
}

