
.header-list-1 {
    background-color: brown;
}

.header-list-2 {
    background-color: blueviolet;
    margin: 15px; 
}

.header-list-3 {
    background-color: blue;
}

.header-list-4 {
    background-color: cornflowerblue;
}

.header-list-5 {
    background-color: aqua;
}

.h1 {
    font-size: 30;
    background-color: red;
    width: 300;

}